* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
  letter-spacing: 2px;;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #3d5e44;
  margin-bottom: 0;
}

.rubrik {
  text-align: center;
  color: white;
  font-size: 80px;
  position: absolute;
  z-index: 2;
  font-weight: 400;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}

.beskrivning {
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
  z-index: 2;
  font-weight: 300;
  left: 50%;
  top: 54%;
  transform: translateX(-50%);
}

.logo img {
  max-width: 80px;
  object-fit: contain; 
  margin-left: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 16px;
  font-family: 'Roboto', Arial;
  margin-right: 30px;
  font-weight: 300;
}

.navigation a:hover {
  background-color: #3d5e44;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.5px; 
}

.navigation li {
  padding: 10px;
}

.undersida-bar a {
  color: rgb(57, 57, 57);
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 16px;
  margin-right: 30px;
  font-weight: 400;
  margin-top: 20px;
}

.undersida-bar a:hover {
  background-color:  rgb(208, 208, 208);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.5px; 
}

.undersida-bar li {
  padding: 10px;
}

.undersida-bar ul {
  list-style-type: none;
  display: flex;
  background-color: rgb(208, 208, 208);
  justify-content: center;
  height: 200px;
}

.hus img {
  display: block;
  height: 75vh;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  filter: brightness(45%);
}

.hus {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 1;
}

