header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #3d5e44;
}

.rubrik {
  margin-left: 30px;
  font-family: Roboto, Arial;
  color: #223426;
  font-size: 35px;
  margin-top: 20px;
}

.logo img {
  max-width: 80px;
  object-fit: contain; 
  margin-left: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
}

.navigation ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 18px;
  font-family: "Roboto", Arial;
  margin-right: 30px;

}

.navigation a:hover {
  background-color: #3d5e44;
  text-decoration: underline;
}

.navigation li {
  float: left;
  padding: 10px;
}

.startsidaHus img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icons-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;

}
.icon {
  text-align: center;
  margin: 10px;
}

.icon i {
  font-size: 70px;
  color: black;
  margin-bottom: 10px;
}
.icon p {
  font-size: 14px;
  color: #3d5e44;
}
footer {
  background-color: #3d5e44;
  color: white;
  padding: 20px 0;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Distributes space between the logo and the info sections */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  margin-left: 15px;
}

.footer-logo img {
  max-width: 150px; /* Reduced the logo size slightly for better balance */
}

.footer-info {
  flex: 1;
  display: flex;
  justify-content: space-around; /* Reduced space between sections */
}

.footer-address,
.footer-contact,
.footer-social {
  margin: 5px; /* Reduced margin to bring sections closer */
  font-size: 14px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-address p strong,
.footer-contact p strong,
.footer-social p strong {
  display: inline-block;
  border-bottom: 1px solid rgb(98, 162, 111);
  padding-bottom: 5px;
}

.footer-social i {
  font-size: 18px;
  margin-right: 5px; /* Reduced margin between icons */
}

.footer-social p {
  margin-bottom: 5px; /* Reduced spacing between text and icons */
}
